<html>
<head><title>log in</title></head>
<body>
	<form name = "login" action = <%= login_process_login_index_path %> method = "Post">
	<table align = "right">
		<tr>
			<td colspan="2" align = "center">
				LOG IN
			</td>
		</tr>
		<tr>
			<td>
				USERNAME:
			</td>
			<td>
				<input type="text" name="username" >
			</td>
		</tr>
		<tr>
			<td>
				PASSWORD:
			</td>
			<td>
				<input type="text" name="password" value="">
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="log in">
				<%if flash[:notice]%>
                  <%=flash[:notice]%>
                <%end%>                 
			</td>
		</tr>
		<tr>
			<td rowspan="2" align="center">
				<%= link_to "SIGN UP",new_user_path%>
			</td>
		</tr>

	</table>
	</form>
</body>
</html>
